# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# I want these to be ignored
package-lock.json
static/images/name.py
static/images/*.jpg
report.20190309.051727.77372.001.json
report.20190309.051229.73476.001.json
report.20190309.051833.75880.001.json
